<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">Home page</button>
  </div>
  <div class="info">
    <strong>Author</strong>
    <small>12.12.14</small>
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
    asperiores aspernatur consectetur consequatur corporis debitis dolorum, eum
    excepturi inventore, itaque minima modi nam nostrum officia quam quo ratione
    reiciendis repellendus sed similique tempora ut! Animi aspernatur at dolore
    doloremque dolorum eius, esse harum laboriosam optio quia saepe sequi,
    voluptatum.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
    asperiores aspernatur consectetur consequatur corporis debitis dolorum, eum
    excepturi inventore, itaque minima modi nam nostrum officia quam quo ratione
    reiciendis repellendus sed similique tempora ut! Animi aspernatur at dolore
    doloremque dolorum eius, esse harum laboriosam optio quia saepe sequi,
    voluptatum.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
    asperiores aspernatur consectetur consequatur corporis debitis dolorum, eum
    excepturi inventore, itaque minima modi nam nostrum officia quam quo ratione
    reiciendis repellendus sed similique tempora ut! Animi aspernatur at dolore
    doloremque dolorum eius, esse harum laboriosam optio quia saepe sequi,
    voluptatum.
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid
    asperiores aspernatur consectetur consequatur corporis debitis dolorum, eum
    excepturi inventore, itaque minima modi nam nostrum officia quam quo ratione
    reiciendis repellendus sed similique tempora ut! Animi aspernatur at dolore
    doloremque dolorum eius, esse harum laboriosam optio quia saepe sequi,
    voluptatum.
  </div>
</div>
